
.site-footer {
  text-align: center;
  p {
    font-size: 2.50em;
    margin-bottom: 3rem;
    @include breakpoint(xs) {
      font-size: 2em;
    }
  }
  .button {
    font-size: 250%;
  }
}

.site-sponsor {
  margin: 10rem 0;
  a {
    background-color: transparent;
  }
  img {
    width: 140px;
    height: auto;
    opacity: 0.2;
  }
}
