.site-header {
  @include display(flex);
  @include align-items(center);
  @include breakpoint(sm) {
    @include align-items(flex-start);
    @include justify-content(center);
  }
  &-title {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    border-left: 12px solid $color-primary;
    @include breakpoint(md) {
      padding: 0;
      word-wrap: nowrap;
      white-space: nowrap;
      border: 12px solid $color-primary;
    }
  }
  &-button {
    display: none;
    @include breakpoint(sm) {
      display: inline-block;
      margin-left: auto;
    }
  }
}

.site-title {
  margin: 0;
  font-size: 3em;
  font-weight: bolder;
  padding: 0 1.25rem;
  color: $color-primary;
  @include breakpoint(md) {
    padding: 0 3rem;
    font-size: 4.25em;
    line-height: 3em;
  }
  @include breakpoint(sm) {
    word-wrap: nowrap;
    white-space: nowrap;
  }
}
