.site-header {
  @include display(flex);
  @include align-items(flex-start);
  @include breakpoint(xs) {
    @include flex-direction(column);
  }
  &-title {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    width: 100%;
    max-width: 530px;
    @include breakpoint(md) {
      height: 400px;
      border: 12px solid $color-primary;
      word-wrap: nowrap;
      white-space: nowrap;
    }
  }
  &-button {
    display: none;
    @include breakpoint(sm) {
      display: inline-block;
      margin-left: auto;
    }
  }
}

.site-title {
  margin: 0;
  font-size: 3em;
  font-weight: bolder;
  line-height: 1.2;
  @include breakpoint(sm) {
    padding-left: 2rem;
    padding-bottom: 1.50rem;
    font-size: 4.25em;
  }
}
