section {
  @include breakpoint(xs) {
    margin: 3rem 0;
  }
  margin: 5rem 0;
}

.section {
  @include breakpoint(sm) {
    @include display(flex);
    @include align-items(flex-start);
  }
  &-aside {
    margin-bottom: 2rem;
    @include breakpoint(sm) {
      @include display(flex);
      width: 30%;
    }
  }
  &-content {
    @include breakpoint(sm) {
      width: 70%;
    }
  }
}

.intro {
  @include flex-direction(column);
}

.about {
  margin-bottom: -1rem;
  @include breakpoint(sm) {
    margin-bottom: -2rem;
  }
  &-picture {
    @include filter(grayscale(100%) contrast(120%));
    max-width: 90%;
    margin-left: 10%;
    @include breakpoint(sm) {
      max-width: 75%;
      margin-left: 0;
    }
  }
  &-bio {
    position: relative;
    top: -2.50rem;
    max-width: 90%;
    margin-right: 1rem;
    padding: 2em;
    background-color: white;
    text-align: justify;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.20);
    z-index: 2;
    @include breakpoint(sm) {
      top: -5rem;
      left: 5rem;
      max-width: 80%;
    }
  }
}

.learn-list {
  @extend %reset-list;
  @include breakpoint(sm) {
    width: 60%;
  }
  &-item {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h4 {
    margin-bottom: 6px;
  }
  p {
    margin-top: 0;
  }
}
